<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu>
  <elem nev="pgacsa">
    <ar>1555</ar>
    <type>ELOETEL</type>
    <enabled>true</enabled>
    <oszetevok>
      <oszetevo nev="zoli">
        <mennyiseg>5.0</mennyiseg>
      </oszetevo>
      <oszetevo nev="etelem">
        <mennyiseg>1.0</mennyiseg>
      </oszetevo>
    </oszetevok>
  </elem>
  <elem nev="parav">
    <ar>11</ar>
    <type>FOETEL</type>
    <enabled>true</enabled>
    <oszetevok>
      <oszetevo nev="nem tudomn">
        <mennyiseg>1.0</mennyiseg>
      </oszetevo>
    </oszetevok>
  </elem>
  <elem nev="nagyon hoszi mnevu érte">
    <ar>1111111</ar>
    <type>ELOETEL</type>
    <enabled>true</enabled>
    <oszetevok>
      <oszetevo nev="zoli">
        <mennyiseg>1.0</mennyiseg>
      </oszetevo>
    </oszetevok>
  </elem>
  <elem nev="a legoshz legfsfddsfdsdsgbfdykílsfv,nbsykdvbsjdímfva">
    <ar>1111111111</ar>
    <type>ELOETEL</type>
    <enabled>true</enabled>
    <oszetevok>
      <oszetevo nev="zoli">
        <mennyiseg>1.0</mennyiseg>
      </oszetevo>
    </oszetevok>
  </elem>
</menu>
